
<div class="header-gradient">


  <div id="headerImageContainer"></div>
  <div id="little-arrow"></div>

</div>
<div id="searchbar-area" style="background: #333441; height:100px;">
   <form id="searchForm">
        <input class="form-control" placeholder="Search for artist or album title" data-ng-model="searchText" /> <button class="form-control" id="search-btn" data-ng-click="doSearch(searchText)">SEARCH</button>
   </form>

</div>
<div id="results" style="">
   <div class="magnifying-glass" data-ng-if="albumResults.length < 1"></div>
   <div id="search-results-text">
     <span  data-ng-if="albumResults.length < 1">Your results will appear here</span>

     <div id="actualResults">
       <ul class="grid">
         <li ng-repeat="album in albumResults track by $index" ng-if="album.images[0].url.length > 1" class="album-card-block" ng-mouseover="albumResults[$index].hover = true" ng-mouseleave="albumResults[$index].hover = false" ng-class="{'hovering': album.hover}">
           <div class="image-container"><img ng-src="{{album.images[0].url}}" class="main-image" ng-class="{'hovering': album.hover}"/> 

             <div class="view-more-detail" ng-show="album.hover" ng-click="openDetail(album)">
               <img src="/images/Bitmap@2x.png"/><br/>
                <em ng-if="album.type == 'album'">View Tracks</em>
                <em ng-if="album.type == 'artist'">View Albums</em>
             </div>

             <em ng-if="album.type == 'album'" class="artistOrAlbum"><img src="/images/album-icon@2x.png" width="50px" height="50px"/> </em>
             <em ng-if="album.type == 'artist'" class="artistOrAlbum"><img src="/images/artist-icon@2x.png" width="33px" height="30px" style="margin-top: 4px; margin-left: 4px;"/> </em>
           </div><!-- -->
           <div>
            <span>{{album.name | limitTo: 20}}{{album.name.lengnth > 20 ? '...' : ''}}</span>
           </div>
           
         </li>
       </ul>
     </div>

   </div>
   
</div>

<div id="showModal" ng-show="showModal">
  <div id="white-Card">
   <img src="/images/Cross@2x.png" width="50px" height="50px" ng-click="closeModal()" style="position: absolute;right: 0px;z-index: 4" >
    <div style="background: #383a49;"><div style="background: url('{{selectedAlbum.images[0].url}}'); width: 100%; height: 36vh; background-position-y: center;background-size: cover; opacity: 0.8;" class="show-image">
    </div>
     <span class="show-header-text">{{selectedAlbum.name | limitTo: 20}}{{selectedAlbum.name.lengnth > 20 ? '...' : ''}}</span>
    </div>

   <div class="container" ng-if="selectedAlbum.type == 'artist'">
     <span style="font-size: 23px;color:  #383a49;">Albums</span>
     <hr/>
     <ul>
       <li ng-repeat="album in selectedAlbum.albums track by $index" style="list-style-type: none; padding-bottom: 19px;" ng-if="$index < 4">
         <img ng-src="{{album.images[0].url}}" width="100px" height="100px"><span ng-bind="album.name" style="font-size: 22px; color: black; font-weight: 600; margin-left: 21px; margin-top: 14px; position: absolute;"></span>
       </li>
     </ul>
   </div>

   <div class="container" ng-if="selectedAlbum.type == 'album'">
     <span style="font-size: 23px;color:  #383a49;">Tracks</span>
     <hr/>
     <ul>
       <li ng-repeat="album in selectedAlbum.tracks track by $index" style="list-style-type: none; padding-bottom: 19px;" ng-if="$index < 4">
         <span ng-bind="album.name" style="font-size: 22px; color: black; font-weight: 600;"></span><br/>
         <span style="font-size: 16px; color: grey;">{{(album.duration_ms / 1000) / 60}} minutes</span>
       </li>
     </ul>
   </div>

  </div>
</div>
 